# Pre-Processing of MY & TH data

In [143]:
import csv
import sys
import os
import pandas as pd
import numpy as np
from datetime import datetime

import string
from googletrans import Translator

### Translation of Thailand's 2016-2019 data

In [ ]:
print(sys.executable)
os.chdir(r"C:\Users\ggk\FYP-TouristArrivalsPrediction\dataset")
# load the dataset
data10to16 = pd.read_csv(r"thaitourism2.csv")
data10to16.head(20)

data16to19 = pd.read_excel(r"Summary of the number of foreign tourists in 2016 - 2019.xlsx")
data16to19.head(20)

In [136]:
y = [2019, 2018, 2017, 2016]
year = []
for ye in y:
    for i in range(12):
        year.append(ye)

len(year)

48

In [233]:
month = []
for i in range(4):
    for m in data16to19.iloc[2:14, 0]:
        month.append(m)

len(month)

48

In [ ]:
arrivals = []
for i in range(4):
    for a in data16to19.iloc[2:14, i+1]:
        print(a)
        arrivals.append(a)

In [ ]:
tdf = pd.DataFrame({'Year': year, 'Month': month, 'Arrivals': arrivals})
tdf['Month'] = tdf['Month'].apply(lambda x: datetime.strptime(x, '%B').month)
tdf

### Removal of irrelevant data 2010-2016

In [ ]:
data10to16['yeMon'] = data10to16['year'].map(str) + '-' + data10to16['month'].map(str)
data10to16

In [ ]:
len(pd.unique(data10to16["nationality"]))
fdf = data10to16.drop(["region", "nationality"], axis=1)
fdf

In [ ]:
fdff = fdf.groupby(by="yeMon")["tourists"].sum()
adf = pd.DataFrame(fdff)
adf

In [ ]:
#Export the DataFrame to CSV file
adf.to_csv('test')

#Print the Pandas DataFrame that is exported
f=pd.read_csv('test')
f

In [ ]:
f['Year'] = f['yeMon'].str.slice(start=0, stop=4)
f['Month'] = f['yeMon'].str.slice(start=5)
l = f.drop(["yeMon"], axis=1)
l

In [222]:
tdf.to_excel("2016-2019.xlsx")
l.to_excel("2010-2016.xlsx")

In [141]:
translator = Translator()
# with open("C:/Users/ggk/FYP-TouristArrivalsPrediction/dataset/tourist2016-2019.xlsx", "r", encoding="TIS-620") as file:
  # csvreader = pd.read_excel(file)
for row in data16to19.iloc[0]:
  print("original", row)
  try:
    tranRow = translator.translate(row[0], dest="en")
    print("trans", tranRow)
  except:
    print("still ori", row)

original nan
still ori nan
original Number (persons)
still ori Number (persons)
original nan
still ori nan
original nan
still ori nan
original nan
still ori nan
original  %CH (Y-o-Y)
still ori  %CH (Y-o-Y)
original nan
still ori nan
original nan
still ori nan

## Transformation of Malaysia

In [ ]:
file = pd.read_csv(r"malaysia.csv")
file.head(20)

In [250]:
file1 = file.drop(file.iloc[:, -12:-1], axis=1)

In [251]:
file1 = file1.drop(["Destination", "Dec - Percentage Change Year on Year"], axis=1)
file1

,Year,Jan - No. of Arrivals,Feb - No. of Arrivals,Mar - No. of Arrivals,Apr - No. of Arrivals,May - No. of Arrivals,Jun - No. of Arrivals,Jul - No. of Arrivals,Aug - No. of Arrivals,Sep - No. of Arrivals,Oct - No. of Arrivals,Nov - No. of Arrivals,Dec - No. of Arrivals
0,2000,731509,786040,737678,916382,894350,960782,811876,764500,778587,990658,806648,1042572
1,2001,1052854,1090219,1492235,1358776,1038210,1308788,1125504,1149987,927206,596202,759321,975771
2,2002,834519,986408,1272810,1106053,1153033,1297536,1135691,1163724,1029120,1015946,1061229,1253941
3,2003,1070428,985343,819376,456374,541267,719047,753029,826234,943526,994858,1135493,1328940
4,2004,1408378,1295913,1274230,1266824,1262717,1381355,1227052,1268237,1326549,1359498,1329208,1303445
5,2005,1394032,1346550,1419275,1317749,1351141,1339051,1317276,1393666,1335027,1367735,1432317,1417236
6,2006,1453803,1384479,1541056,1422576,1393656,1368651,1450319,1503748,1384890,1540070,1564286,1539329
7,2007,1721786,1652004,1906304,1764868,1841870,1803594,1713951,1642899,1601016,1673922,1764586,1886022
8,2008,1780134,1742468,1819689,1760326,1899148,1961355,1928082,1839235,1599418,1818304,1845645,2058684
9,2009,1871099,1613309,1975776,1883873,1894059,2108328,2003724,2030337,1997535,2078485,2048595,2141071
10,2010,1896918,1832300,2022590,1877934,1992277,2246084,2214092,2099485,2053406,2137735,2081354,2123021
11,2011,1918751,1669288,1952343,1891350,1892095,2039035,2406100,2166937,2094104,2189014,2225534,2269773
12,2012,1817061,1773471,1972006,1924129,1951925,2193886,2306675,2240687,1973803,2205979,2236473,2436613
13,2013,2070394,2002709,2376295,1984982,2044039,2074312,2129393,1980960,2093392,2106569,2045850,2806565
14,2014,2447397,2118540,2525496,2175009,2266417,2342187,2229920,2273271,2233545,2247666,2130022,2447845
15,2015,2291603,1949016,2242077,2071922,2118890,1893792,2216049,2182536,2084339,2082866,2004694,2583467
16,2016,2376166,2091098,2198716,2101280,2144119,2121396,2296615,2282173,2118367,2326487,2054165,2646810
17,2017,2350270,2043215,2238184,2145734,2039016,2134647,2263478,2129013,2092378,2068995,2007965,2435564
18,2018,2276750,2050613,2192855,1957248,1976981,2275921,2305324,2253534,2096889,2103975,1989842,2352422
19,2019,2195684,2165933,2334613,2159517,2098267,2400561,2415097,2342438,1997093,2031198,1969315,1991068
20,2020,2164459,1397912,671084,7546,5411,6585,18660,11631,16131,11315,11420,10568
21,2021,8012,7599,9645,9742,9156,6459,6203,8062,8431,10684,14722,36013
22,2022,29797,26760,41496,392059,670474,971574,1076218,1102625,1245278,1344091,1330700,1839892

In [ ]:
year = []
for e in file.iloc[0:, 0]:
    year.append(e)
    print(e)

In [228]:
month = []
for i in range(4):
    for m in data16to19.iloc[2:14, 0]:
        month.append(m)

len(month)

48

In [252]:
arrivals = []
for i in range(14):
    for a in file1.iloc[0:, i+1]:
        print(a, "-", i)
        arrivals.append(a)

731509 - 0
1052854 - 0
834519 - 0
1070428 - 0
1408378 - 0
1394032 - 0
1453803 - 0
1721786 - 0
1780134 - 0
1871099 - 0
1896918 - 0
1918751 - 0
1817061 - 0
2070394 - 0
2447397 - 0
2291603 - 0
2376166 - 0
2350270 - 0
2276750 - 0
2195684 - 0
2164459 - 0
8012 - 0
29797 - 0
786040 - 1
1090219 - 1
986408 - 1
985343 - 1
1295913 - 1
1346550 - 1
1384479 - 1
1652004 - 1
1742468 - 1
1613309 - 1
1832300 - 1
1669288 - 1
1773471 - 1
2002709 - 1
2118540 - 1
1949016 - 1
2091098 - 1
2043215 - 1
2050613 - 1
2165933 - 1
1397912 - 1
7599 - 1
26760 - 1
737678 - 2
1492235 - 2
1272810 - 2
819376 - 2
1274230 - 2
1419275 - 2
1541056 - 2
1906304 - 2
1819689 - 2
1975776 - 2
2022590 - 2
1952343 - 2
1972006 - 2
2376295 - 2
2525496 - 2
2242077 - 2
2198716 - 2
2238184 - 2
2192855 - 2
2334613 - 2
671084 - 2
9645 - 2
41496 - 2
916382 - 3
1358776 - 3
1106053 - 3
456374 - 3
1266824 - 3
1317749 - 3
1422576 - 3
1764868 - 3
1760326 - 3
1883873 - 3
1877934 - 3
1891350 - 3
1924129 - 3
1984982 - 3
2175009 - 3
2071922 - 3
2101280 - 3
2145734 - 3
1957248 - 3
2159517 - 3
7546 - 3
9742 - 3
392059 - 3
894350 - 4
1038210 - 4
1153033 - 4
541267 - 4
1262717 - 4
1351141 - 4
1393656 - 4
1841870 - 4
1899148 - 4
1894059 - 4
1992277 - 4
1892095 - 4
1951925 - 4
2044039 - 4
2266417 - 4
2118890 - 4
2144119 - 4
2039016 - 4
1976981 - 4
2098267 - 4
5411 - 4
9156 - 4
670474 - 4
960782 - 5
1308788 - 5
1297536 - 5
719047 - 5
1381355 - 5
1339051 - 5
1368651 - 5
1803594 - 5
1961355 - 5
2108328 - 5
2246084 - 5
2039035 - 5
2193886 - 5
2074312 - 5
2342187 - 5
1893792 - 5
2121396 - 5
2134647 - 5
2275921 - 5
2400561 - 5
6585 - 5
6459 - 5
971574 - 5
811876 - 6
1125504 - 6
1135691 - 6
753029 - 6
1227052 - 6
1317276 - 6
1450319 - 6
1713951 - 6
1928082 - 6
2003724 - 6
2214092 - 6
2406100 - 6
2306675 - 6
2129393 - 6
2229920 - 6
2216049 - 6
2296615 - 6
2263478 - 6
2305324 - 6
2415097 - 6
18660 - 6
6203 - 6
1076218 - 6
764500 - 7
1149987 - 7
1163724 - 7
826234 - 7
1268237 - 7
1393666 - 7
1503748 - 7
1642899 - 7
1839235 - 7
2030337 - 7
2099485 - 7
2166937 - 7
2240687 - 7
1980960 - 7
2273271 - 7
2182536 - 7
2282173 - 7
2129013 - 7
2253534 - 7
2342438 - 7
11631 - 7
8062 - 7
1102625 - 7
778587 - 8
927206 - 8
1029120 - 8
943526 - 8
1326549 - 8
1335027 - 8
1384890 - 8
1601016 - 8
1599418 - 8
1997535 - 8
2053406 - 8
2094104 - 8
1973803 - 8
2093392 - 8
2233545 - 8
2084339 - 8
2118367 - 8
2092378 - 8
2096889 - 8
1997093 - 8
16131 - 8
8431 - 8
1245278 - 8
990658 - 9
596202 - 9
1015946 - 9
994858 - 9
1359498 - 9
1367735 - 9
1540070 - 9
1673922 - 9
1818304 - 9
2078485 - 9
2137735 - 9
2189014 - 9
2205979 - 9
2106569 - 9
2247666 - 9
2082866 - 9
2326487 - 9
2068995 - 9
2103975 - 9
2031198 - 9
11315 - 9
10684 - 9
1344091 - 9
806648 - 10
759321 - 10
1061229 - 10
1135493 - 10
1329208 - 10
1432317 - 10
1564286 - 10
1764586 - 10
1845645 - 10
2048595 - 10
2081354 - 10
2225534 - 10
2236473 - 10
2045850 - 10
2130022 - 10
2004694 - 10
2054165 - 10
2007965 - 10
1989842 - 10
1969315 - 10
11420 - 10
14722 - 10
1330700 - 10
1042572 - 11
975771 - 11
1253941 - 11
1328940 - 11
1303445 - 11
1417236 - 11
1539329 - 11
1886022 - 11
2058684 - 11
2141071 - 11
2123021 - 11
2269773 - 11
2436613 - 11
2806565 - 11
2447845 - 11
2583467 - 11
2646810 - 11
2435564 - 11
2352422 - 11
1991068 - 11
10568 - 11
36013 - 11
1839892 - 11

IndexError: single positional indexer is out-of-bounds