# Pre-Processing of MY & TH data

In [143]:
import csv
import sys
import os
import pandas as pd
import numpy as np
from datetime import datetime

import string
from googletrans import Translator

## Translation of Thailand's 2016-2019 data

In [ ]:
print(sys.executable)
os.chdir(r"C:\Users\ggk\FYP-TouristArrivalsPrediction\dataset")
# load the dataset
data10to16 = pd.read_csv(r"thaitourism2.csv")
data10to16.head(20)

data16to19 = pd.read_excel(r"Summary of the number of foreign tourists in 2016 - 2019.xlsx")
data16to19.head(20)

In [136]:
y = [2019, 2018, 2017, 2016]
year = []
for ye in y:
    for i in range(12):
        year.append(ye)

len(year)

48

In [137]:
month = []
for i in range(4):
    for m in data16to19.iloc[2:14, 0]:
        month.append(m)

len(month)

48

In [ ]:
arrivals = []
for i in range(4):
    for a in data16to19.iloc[2:14, i+1]:
        print(a)
        arrivals.append(a)

In [ ]:
tdf = pd.DataFrame({'Year': year, 'Month': month, 'Arrivals': arrivals})
tdf['Month'] = tdf['Month'].apply(lambda x: datetime.strptime(x, '%B').month)
tdf

### Removal of irrelevant data 2010-2016

In [ ]:
data10to16['yeMon'] = data10to16['year'].map(str) + '-' + data10to16['month'].map(str)
data10to16

In [ ]:
len(pd.unique(data10to16["nationality"]))
fdf = data10to16.drop(["region", "nationality"], axis=1)
fdf

In [ ]:
fdff = fdf.groupby(by="yeMon")["tourists"].sum()
adf = pd.DataFrame(fdff)
adf

In [ ]:
#Export the DataFrame to CSV file
adf.to_csv('test')

#Print the Pandas DataFrame that is exported
f=pd.read_csv('test')
f

In [220]:
f['Year'] = f['yeMon'].str.slice(start=0, stop=4)
f['Month'] = f['yeMon'].str.slice(start=5)
l = f.drop(["yeMon"], axis=1)
l

    tourists  Year Month
0    1605505  2010     1
1    1316806  2010    10
2    1478856  2010    11
3    1819751  2010    12
4    1614844  2010     2
..       ...   ...   ...
79   2476505  2016     5
80   2433255  2016     6
81   2946286  2016     7
82   2874420  2016     8
83   2407572  2016     9

[84 rows x 3 columns]

In [222]:
tdf.to_excel("2016-2019.xlsx")
l.to_excel("2010-2016.xlsx")

In [141]:
translator = Translator()
# with open("C:/Users/ggk/FYP-TouristArrivalsPrediction/dataset/tourist2016-2019.xlsx", "r", encoding="TIS-620") as file:
  # csvreader = pd.read_excel(file)
for row in data16to19.iloc[0]:
  print("original", row)
  try:
    tranRow = translator.translate(row[0], dest="en")
    print("trans", tranRow)
  except:
    print("still ori", row)

original nan
still ori nan
original Number (persons)
still ori Number (persons)
original nan
still ori nan
original nan
still ori nan
original nan
still ori nan
original  %CH (Y-o-Y)
still ori  %CH (Y-o-Y)
original nan
still ori nan
original nan
still ori nan

## Transformation of Malaysia

In [223]:
file = pd.read_csv(r"malaysia.csv")
file.head(20)

,Year,Destination,Jan - No. of Arrivals,Feb - No. of Arrivals,Mar - No. of Arrivals,Apr - No. of Arrivals,May - No. of Arrivals,Jun - No. of Arrivals,Jul - No. of Arrivals,Aug - No. of Arrivals,...,Mar - Percentage Change Year on Year,Apr - Percentage Change Year on Year,May - Percentage Change Year on Year,Jun - Percentage Change Year on Year,Jul - Percentage Change Year on Year,Aug - Percentage Change Year on Year,Sep - Percentage Change Year on Year,Oct - Percentage Change Year on Year,Nov - Percentage Change Year on Year,Dec - Percentage Change Year on Year
0,2000,Malaysia,731509.0,786040.0,737678.0,916382.0,894350.0,960782.0,811876.0,764500.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2001,Malaysia,1052854.0,1090219.0,1492235.0,1358776.0,1038210.0,1308788.0,1125504.0,1149987.0,...,102.288126,48.276156,16.085425,36.221120,38.630037,50.423414,19.088297,-39.817576,-5.867119,-6.407327
2,2002,Malaysia,834519.0,986408.0,1272810.0,1106053.0,1153033.0,1297536.0,1135691.0,1163724.0,...,-14.704453,-18.599313,11.059709,-0.859727,0.905106,1.194535,10.991516,70.402984,39.760259,28.507713
3,2003,Malaysia,1070428.0,985343.0,819376.0,456374.0,541267.0,719047.0,753029.0,826234.0,...,-35.624642,-58.738505,-53.057111,-44.583657,-33.694200,-29.000863,-8.317203,-2.075701,6.997924,5.981063
4,2004,Malaysia,1408378.0,1295913.0,1274230.0,1266824.0,1262717.0,1381355.0,1227052.0,1268237.0,...,55.512243,177.584613,133.289116,92.109139,62.948837,53.496104,40.594854,36.652467,17.059991,-1.918446
5,2005,Malaysia,1394032.0,1346550.0,1419275.0,1317749.0,1351141.0,1339051.0,1317276.0,1393666.0,...,11.382953,4.019895,7.002678,-3.062500,7.352908,9.890028,0.639102,0.605885,7.757176,8.730019
6,2006,Malaysia,1453803.0,1384479.0,1541056.0,1422576.0,1393656.0,1368651.0,1450319.0,1503748.0,...,8.580508,7.955005,3.146600,2.210521,10.099858,7.898736,3.734981,12.600029,9.213673,8.614867
7,2007,Malaysia,1721786.0,1652004.0,1906304.0,1764868.0,1841870.0,1803594.0,1713951.0,1642899.0,...,23.701150,24.061421,32.161021,31.778956,18.177518,9.253612,15.606005,8.691293,12.804564,22.522346
8,2008,Malaysia,1780134.0,1742468.0,1819689.0,1760326.0,1899148.0,1961355.0,1928082.0,1839235.0,...,-4.543609,-0.257356,3.109774,8.747035,12.493414,11.950582,-0.099812,8.625372,4.593655,9.154824
9,2009,Malaysia,1871099.0,1613309.0,1975776.0,1883873.0,1894059.0,2108328.0,2003724.0,2030337.0,...,8.577675,7.018416,-0.267962,7.493442,3.923173,10.390298,24.891367,14.308993,10.996156,4.001926
10,2010,Malaysia,1896918.0,1832300.0,2022590.0,1877934.0,1992277.0,2246084.0,2214092.0,2099485.0,...,2.369398,-0.315255,5.185583,6.533898,10.498851,3.405740,2.796997,2.850634,1.599096,-0.843036
11,2011,Malaysia,1918751.0,1669288.0,1952343.0,1891350.0,1892095.0,2039035.0,2406100.0,2166937.0,...,-3.473121,0.714402,-5.028518,-9.218222,8.672088,3.212788,1.981975,2.398754,6.927221,6.912414
12,2012,Malaysia,1817061.0,1773471.0,1972006.0,1924129.0,1951925.0,2193886.0,2306675.0,2240687.0,...,1.007149,1.733101,3.162103,7.594328,-4.132206,3.403422,-5.744748,0.775006,0.491522,7.350515
13,2013,Malaysia,2070394.0,2002709.0,2376295.0,1984982.0,2044039.0,2074312.0,2129393.0,1980960.0,...,20.501408,3.162626,4.719136,-5.450329,-7.685608,-11.591400,6.058811,-4.506389,-8.523376,15.183043
14,2014,Malaysia,2447397.0,2118540.0,2525496.0,2175009.0,2266417.0,2342187.0,2229920.0,2273271.0,...,6.278724,9.573235,10.879342,12.913920,4.720923,14.756027,6.695019,6.697953,4.114280,-12.781461
15,2015,Malaysia,2291603.0,1949016.0,2242077.0,2071922.0,2118890.0,1893792.0,2216049.0,2182536.0,...,-11.222310,-4.739613,-6.509261,-19.144287,-0.622040,-3.991385,-6.680233,-7.332050,-5.883883,5.540465
16,2016,Malaysia,2376166.0,2091098.0,2198716.0,2101280.0,2144119.0,2121396.0,2296615.0,2282173.0,...,-1.933966,1.416945,1.190671,12.018427,3.635569,4.565194,1.632556,11.696432,2.467758,2.451860
17,2017,Malaysia,2350270.0,2043215.0,2238184.0,2145734.0,2039016.0,2134647.0,2263478.0,2129013.0,...,1.795048,2.115568,-4.901920,0.624636,-1.442863,-6.711148,-1.226841,-11.067846,-2.249089,-7.981155
18,2018,Malaysia,2276750.0,2050613.0,2192855.0,1957248.0,1976981.0,2275921.0,2305324.0,2253534.0,...,-2.025258,-8.784220,-3.042399,6.618143,1.848748,5.848767,0.215592,1.690676,-0.902556,-3.413665
19,2019,Malaysia,2195684.0,2165933.0,2334613.0,2159517.0,2098267.0,2400561.0,2415097.0,2342438.0,...,6.464541,10.334357,6.134910,5.476464,4.761717,3.945092,-4.759241,-3.459024,-1.031589,-15.360934