# Pre-Processing of MY & TH data

In [143]:
import csv
import sys
import os
import pandas as pd
import numpy as np
from datetime import datetime

import string
from googletrans import Translator

### Translation of Thailand's 2016-2019 data

In [ ]:
print(sys.executable)
os.chdir(r"C:\Users\ggk\FYP-TouristArrivalsPrediction\dataset")
# load the dataset
data10to16 = pd.read_csv(r"thaitourism2.csv")
data10to16.head(20)

data16to19 = pd.read_excel(r"Summary of the number of foreign tourists in 2016 - 2019.xlsx")
data16to19.head(20)

In [136]:
y = [2019, 2018, 2017, 2016]
year = []
for ye in y:
    for i in range(12):
        year.append(ye)

len(year)

48

In [233]:
month = []
for i in range(4):
    for m in data16to19.iloc[2:14, 0]:
        month.append(m)

len(month)

48

In [ ]:
arrivals = []
for i in range(4):
    for a in data16to19.iloc[2:14, i+1]:
        print(a)
        arrivals.append(a)

In [ ]:
tdf = pd.DataFrame({'Year': year, 'Month': month, 'Arrivals': arrivals})
tdf['Month'] = tdf['Month'].apply(lambda x: datetime.strptime(x, '%B').month)
tdf

### Removal of irrelevant data 2010-2016

In [ ]:
data10to16['yeMon'] = data10to16['year'].map(str) + '-' + data10to16['month'].map(str)
data10to16

In [ ]:
len(pd.unique(data10to16["nationality"]))
fdf = data10to16.drop(["region", "nationality"], axis=1)
fdf

In [ ]:
fdff = fdf.groupby(by="yeMon")["tourists"].sum()
adf = pd.DataFrame(fdff)
adf

In [ ]:
#Export the DataFrame to CSV file
adf.to_csv('test')

#Print the Pandas DataFrame that is exported
f=pd.read_csv('test')
f

In [ ]:
f['Year'] = f['yeMon'].str.slice(start=0, stop=4)
f['Month'] = f['yeMon'].str.slice(start=5)
l = f.drop(["yeMon"], axis=1)
l

In [222]:
tdf.to_excel("2016-2019.xlsx")
l.to_excel("2010-2016.xlsx")

In [141]:
translator = Translator()
# with open("C:/Users/ggk/FYP-TouristArrivalsPrediction/dataset/tourist2016-2019.xlsx", "r", encoding="TIS-620") as file:
  # csvreader = pd.read_excel(file)
for row in data16to19.iloc[0]:
  print("original", row)
  try:
    tranRow = translator.translate(row[0], dest="en")
    print("trans", tranRow)
  except:
    print("still ori", row)

original nan
still ori nan
original Number (persons)
still ori Number (persons)
original nan
still ori nan
original nan
still ori nan
original nan
still ori nan
original  %CH (Y-o-Y)
still ori  %CH (Y-o-Y)
original nan
still ori nan
original nan
still ori nan

## Transformation of Malaysia

In [278]:
file = pd.read_csv(r"malaysia.csv", header=None)
file.head(20)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Year,Destination,Jan - No. of Arrivals,Feb - No. of Arrivals,Mar - No. of Arrivals,Apr - No. of Arrivals,May - No. of Arrivals,Jun - No. of Arrivals,Jul - No. of Arrivals,Aug - No. of Arrivals,...,Mar - Percentage Change Year on Year,Apr - Percentage Change Year on Year,May - Percentage Change Year on Year,Jun - Percentage Change Year on Year,Jul - Percentage Change Year on Year,Aug - Percentage Change Year on Year,Sep - Percentage Change Year on Year,Oct - Percentage Change Year on Year,Nov - Percentage Change Year on Year,Dec - Percentage Change Year on Year
1,2000,Malaysia,731509,786040,737678,916382,894350,960782,811876,764500,...,0,0,0,0,0,0,0,0,0,0
2,2001,Malaysia,1052854,1090219,1492235,1358776,1038210,1308788,1125504,1149987,...,102.2881257,48.27615558,16.08542517,36.22111988,38.6300371,50.423414,19.08829713,-39.81757579,-5.867119239,-6.407327264
3,2002,Malaysia,834519,986408,1272810,1106053,1153033,1297536,1135691,1163724,...,-14.70445339,-18.59931291,11.05970854,-0.859726709,0.905105624,1.194535243,10.99151645,70.40298422,39.76025949,28.50771339
4,2003,Malaysia,1070428,985343,819376,456374,541267,719047,753029,826234,...,-35.62464154,-58.7385053,-53.05711111,-44.58365702,-33.69420027,-29.00086275,-8.317203047,-2.075700874,6.997924105,5.981062905
5,2004,Malaysia,1408378,1295913,1274230,1266824,1262717,1381355,1227052,1268237,...,55.51224346,177.5846126,133.2891161,92.1091389,62.9488373,53.49610401,40.59485377,36.65246699,17.05999068,-1.91844628
6,2005,Malaysia,1394032,1346550,1419275,1317749,1351141,1339051,1317276,1393666,...,11.38295284,4.019895424,7.00267756,-3.062500226,7.352907619,9.890028441,0.63910191,0.605885408,7.757175702,8.730019295
7,2006,Malaysia,1453803,1384479,1541056,1422576,1393656,1368651,1450319,1503748,...,8.580507654,7.955005088,3.1465998,2.210520734,10.09985758,7.898736139,3.734980641,12.60002851,9.213672672,8.614867249
8,2007,Malaysia,1721786,1652004,1906304,1764868,1841870,1803594,1713951,1642899,...,23.70115038,24.06142097,32.16102108,31.77895607,18.17751819,9.253611642,15.60600481,8.691293253,12.80456387,22.52234578
9,2008,Malaysia,1780134,1742468,1819689,1760326,1899148,1961355,1928082,1839235,...,-4.543608994,-0.257356358,3.109774305,8.747035087,12.49341434,11.95058248,-0.09981162,8.62537203,4.593655396,9.154824281
10,2009,Malaysia,1871099,1613309,1975776,1883873,1894059,2108328,2003724,2030337,...,8.577674537,7.018415907,-0.267962265,7.493442034,3.923173392,10.39029814,24.89136673,14.30899344,10.99615582,4.001925502
11,2010,Malaysia,1896918,1832300,2022590,1877934,1992277,2246084,2214092,2099485,...,2.36939815,-0.315254797,5.18558292,6.533897951,10.49885114,3.405740032,2.796997299,2.850633995,1.599095966,-0.843036032
12,2011,Malaysia,1918751,1669288,1952343,1891350,1892095,2039035,2406100,2166937,...,-3.473121097,0.714402104,-5.028517621,-9.21822158,8.6720877,3.212787898,1.981975313,2.398753821,6.927221415,6.912413961
13,2012,Malaysia,1817061,1773471,1972006,1924129,1951925,2193886,2306675,2240687,...,1.007148846,1.733100695,3.162103383,7.594327709,-4.132205644,3.403421512,-5.744748112,0.775006464,0.491522484,7.350514787
14,2013,Malaysia,2070394,2002709,2376295,1984982,2044039,2074312,2129393,1980960,...,20.50140821,3.162625791,4.719136237,-5.450328777,-7.685608072,-11.59140032,6.05881134,-4.506389227,-8.523375869,15.18304302
15,2014,Malaysia,2447397,2118540,2525496,2175009,2266417,2342187,2229920,2273271,...,6.278723812,9.573235425,10.87934232,12.91392037,4.720922817,14.75602738,6.695019375,6.697952927,4.114280128,-12.78146061
16,2015,Malaysia,2291603,1949016,2242077,2071922,2118890,1893792,2216049,2182536,...,-11.22231039,-4.739612572,-6.509261094,-19.14428694,-0.622040253,-3.991385101,-6.680232545,-7.332050225,-5.883882889,5.540465185
17,2016,Malaysia,2376166,2091098,2198716,2101280,2144119,2121396,2296615,2282173,...,-1.933965693,1.416945232,1.190670587,12.01842652,3.63556943,4.565193885,1.632555933,11.69643174,2.467758172,2.451860233
18,2017,Malaysia,2350270,2043215,2238184,2145734,2039016,2134647,2263478,2129013,...,1.795047655,2.115567654,-4.901920089,0.624635853,-1.442862648,-6.711147665,-1.226841241,-11.06784607,-2.249089046,-7.981154673
19,2018,Malaysia,2276750,2050613,2192855,1957248,1976981,2275921,2305324,2253534,...,-2.025257977,-8.784220225,-3.042398883,6.618143421,1.848747812,5.848766541,0.21559202,1.690675908,-0.902555572,-3.413665172

In [279]:
file1 = file.drop(file.iloc[:, -12:-1], axis=1)
file1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,25
0,Year,Destination,Jan - No. of Arrivals,Feb - No. of Arrivals,Mar - No. of Arrivals,Apr - No. of Arrivals,May - No. of Arrivals,Jun - No. of Arrivals,Jul - No. of Arrivals,Aug - No. of Arrivals,Sep - No. of Arrivals,Oct - No. of Arrivals,Nov - No. of Arrivals,Dec - No. of Arrivals,Dec - Percentage Change Year on Year
1,2000,Malaysia,731509,786040,737678,916382,894350,960782,811876,764500,778587,990658,806648,1042572,0
2,2001,Malaysia,1052854,1090219,1492235,1358776,1038210,1308788,1125504,1149987,927206,596202,759321,975771,-6.407327264
3,2002,Malaysia,834519,986408,1272810,1106053,1153033,1297536,1135691,1163724,1029120,1015946,1061229,1253941,28.50771339
4,2003,Malaysia,1070428,985343,819376,456374,541267,719047,753029,826234,943526,994858,1135493,1328940,5.981062905
5,2004,Malaysia,1408378,1295913,1274230,1266824,1262717,1381355,1227052,1268237,1326549,1359498,1329208,1303445,-1.91844628
6,2005,Malaysia,1394032,1346550,1419275,1317749,1351141,1339051,1317276,1393666,1335027,1367735,1432317,1417236,8.730019295
7,2006,Malaysia,1453803,1384479,1541056,1422576,1393656,1368651,1450319,1503748,1384890,1540070,1564286,1539329,8.614867249
8,2007,Malaysia,1721786,1652004,1906304,1764868,1841870,1803594,1713951,1642899,1601016,1673922,1764586,1886022,22.52234578
9,2008,Malaysia,1780134,1742468,1819689,1760326,1899148,1961355,1928082,1839235,1599418,1818304,1845645,2058684,9.154824281
10,2009,Malaysia,1871099,1613309,1975776,1883873,1894059,2108328,2003724,2030337,1997535,2078485,2048595,2141071,4.001925502
11,2010,Malaysia,1896918,1832300,2022590,1877934,1992277,2246084,2214092,2099485,2053406,2137735,2081354,2123021,-0.843036032
12,2011,Malaysia,1918751,1669288,1952343,1891350,1892095,2039035,2406100,2166937,2094104,2189014,2225534,2269773,6.912413961
13,2012,Malaysia,1817061,1773471,1972006,1924129,1951925,2193886,2306675,2240687,1973803,2205979,2236473,2436613,7.350514787
14,2013,Malaysia,2070394,2002709,2376295,1984982,2044039,2074312,2129393,1980960,2093392,2106569,2045850,2806565,15.18304302
15,2014,Malaysia,2447397,2118540,2525496,2175009,2266417,2342187,2229920,2273271,2233545,2247666,2130022,2447845,-12.78146061
16,2015,Malaysia,2291603,1949016,2242077,2071922,2118890,1893792,2216049,2182536,2084339,2082866,2004694,2583467,5.540465185
17,2016,Malaysia,2376166,2091098,2198716,2101280,2144119,2121396,2296615,2282173,2118367,2326487,2054165,2646810,2.451860233
18,2017,Malaysia,2350270,2043215,2238184,2145734,2039016,2134647,2263478,2129013,2092378,2068995,2007965,2435564,-7.981154673
19,2018,Malaysia,2276750,2050613,2192855,1957248,1976981,2275921,2305324,2253534,2096889,2103975,1989842,2352422,-3.413665172
20,2019,Malaysia,2195684,2165933,2334613,2159517,2098267,2400561,2415097,2342438,1997093,2031198,1969315,1991068,-15.36093439
21,2020,Malaysia,2164459,1397912,671084,7546,5411,6585,18660,11631,16131,11315,11420,10568,-99.46922958
22,2021,Malaysia,8012,7599,9645,9742,9156,6459,6203,8062,8431,10684,14722,36013,240.7740348
23,2022,Malaysia,29797,26760,41496,392059,670474,971574,1076218,1102625,1245278,1344091,1330700,1839892,5008.966207

In [281]:
# file1 = file1.drop(["Destination", "Dec - Percentage Change Year on Year"], axis=1)
file1 = file1.drop([1, 25], axis=1)
file1

,0,2,3,4,5,6,7,8,9,10,11,12,13
0,Year,Jan - No. of Arrivals,Feb - No. of Arrivals,Mar - No. of Arrivals,Apr - No. of Arrivals,May - No. of Arrivals,Jun - No. of Arrivals,Jul - No. of Arrivals,Aug - No. of Arrivals,Sep - No. of Arrivals,Oct - No. of Arrivals,Nov - No. of Arrivals,Dec - No. of Arrivals
1,2000,731509,786040,737678,916382,894350,960782,811876,764500,778587,990658,806648,1042572
2,2001,1052854,1090219,1492235,1358776,1038210,1308788,1125504,1149987,927206,596202,759321,975771
3,2002,834519,986408,1272810,1106053,1153033,1297536,1135691,1163724,1029120,1015946,1061229,1253941
4,2003,1070428,985343,819376,456374,541267,719047,753029,826234,943526,994858,1135493,1328940
5,2004,1408378,1295913,1274230,1266824,1262717,1381355,1227052,1268237,1326549,1359498,1329208,1303445
6,2005,1394032,1346550,1419275,1317749,1351141,1339051,1317276,1393666,1335027,1367735,1432317,1417236
7,2006,1453803,1384479,1541056,1422576,1393656,1368651,1450319,1503748,1384890,1540070,1564286,1539329
8,2007,1721786,1652004,1906304,1764868,1841870,1803594,1713951,1642899,1601016,1673922,1764586,1886022
9,2008,1780134,1742468,1819689,1760326,1899148,1961355,1928082,1839235,1599418,1818304,1845645,2058684
10,2009,1871099,1613309,1975776,1883873,1894059,2108328,2003724,2030337,1997535,2078485,2048595,2141071
11,2010,1896918,1832300,2022590,1877934,1992277,2246084,2214092,2099485,2053406,2137735,2081354,2123021
12,2011,1918751,1669288,1952343,1891350,1892095,2039035,2406100,2166937,2094104,2189014,2225534,2269773
13,2012,1817061,1773471,1972006,1924129,1951925,2193886,2306675,2240687,1973803,2205979,2236473,2436613
14,2013,2070394,2002709,2376295,1984982,2044039,2074312,2129393,1980960,2093392,2106569,2045850,2806565
15,2014,2447397,2118540,2525496,2175009,2266417,2342187,2229920,2273271,2233545,2247666,2130022,2447845
16,2015,2291603,1949016,2242077,2071922,2118890,1893792,2216049,2182536,2084339,2082866,2004694,2583467
17,2016,2376166,2091098,2198716,2101280,2144119,2121396,2296615,2282173,2118367,2326487,2054165,2646810
18,2017,2350270,2043215,2238184,2145734,2039016,2134647,2263478,2129013,2092378,2068995,2007965,2435564
19,2018,2276750,2050613,2192855,1957248,1976981,2275921,2305324,2253534,2096889,2103975,1989842,2352422
20,2019,2195684,2165933,2334613,2159517,2098267,2400561,2415097,2342438,1997093,2031198,1969315,1991068
21,2020,2164459,1397912,671084,7546,5411,6585,18660,11631,16131,11315,11420,10568
22,2021,8012,7599,9645,9742,9156,6459,6203,8062,8431,10684,14722,36013
23,2022,29797,26760,41496,392059,670474,971574,1076218,1102625,1245278,1344091,1330700,1839892

In [ ]:
year = []
for i in range(12):
    for e in file1.iloc[1:, 0]:
        year.append(e)

len(year)

In [289]:
mo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
month = []

for m in mo:
    for  i in range(23):
        month.append(m)

len(month)

276

In [293]:
arrivals = []
for i in range(13):
    for a in file1.iloc[1:24, i+1]:
        print(a)
        arrivals.append(a)

731509
1052854
834519
1070428
1408378
1394032
1453803
1721786
1780134
1871099
1896918
1918751
1817061
2070394
2447397
2291603
2376166
2350270
2276750
2195684
2164459
8012
29797
786040
1090219
986408
985343
1295913
1346550
1384479
1652004
1742468
1613309
1832300
1669288
1773471
2002709
2118540
1949016
2091098
2043215
2050613
2165933
1397912
7599
26760
737678
1492235
1272810
819376
1274230
1419275
1541056
1906304
1819689
1975776
2022590
1952343
1972006
2376295
2525496
2242077
2198716
2238184
2192855
2334613
671084
9645
41496
916382
1358776
1106053
456374
1266824
1317749
1422576
1764868
1760326
1883873
1877934
1891350
1924129
1984982
2175009
2071922
2101280
2145734
1957248
2159517
7546
9742
392059
894350
1038210
1153033
541267
1262717
1351141
1393656
1841870
1899148
1894059
1992277
1892095
1951925
2044039
2266417
2118890
2144119
2039016
1976981
2098267
5411
9156
670474
960782
1308788
1297536
719047
1381355
1339051
1368651
1803594
1961355
2108328
2246084
2039035
2193886
2074312
2342187
1893792
2121396
2134647
2275921
2400561
6585
6459
971574
811876
1125504
1135691
753029
1227052
1317276
1450319
1713951
1928082
2003724
2214092
2406100
2306675
2129393
2229920
2216049
2296615
2263478
2305324
2415097
18660
6203
1076218
764500
1149987
1163724
826234
1268237
1393666
1503748
1642899
1839235
2030337
2099485
2166937
2240687
1980960
2273271
2182536
2282173
2129013
2253534
2342438
11631
8062
1102625
778587
927206
1029120
943526
1326549
1335027
1384890
1601016
1599418
1997535
2053406
2094104
1973803
2093392
2233545
2084339
2118367
2092378
2096889
1997093
16131
8431
1245278
990658
596202
1015946
994858
1359498
1367735
1540070
1673922
1818304
2078485
2137735
2189014
2205979
2106569
2247666
2082866
2326487
2068995
2103975
2031198
11315
10684
1344091
806648
759321
1061229
1135493
1329208
1432317
1564286
1764586
1845645
2048595
2081354
2225534
2236473
2045850
2130022
2004694
2054165
2007965
1989842
1969315
11420
14722
1330700
1042572
975771
1253941
1328940
1303445
1417236
1539329
1886022
2058684
2141071
2123021
2269773
2436613
2806565
2447845
2583467
2646810
2435564
2352422
1991068
10568
36013
1839892

IndexError: single positional indexer is out-of-bounds

In [295]:
my = pd.DataFrame({'Year': year, 'Month': month, 'Arrivals': arrivals})

In [297]:
my.to_excel("arr.xlsx")